@import 'tailwindcss';

@plugin "@tailwindcss/typography";

@theme {
  --font-sans: 'Open Sans', sans-serif;
  --font-serif: 'Gentium Book Plus', serif;
  --font-mono: 'Fira Code', monospace;
  --color-brand-primary: #1976d2;
  --color-brand-primary-dark: #004ba0;
  --color-brand-primary-hover: #156cb8;
  --color-brand-secondary: #f44336;
  --color-brand-secondary-dark: #ba000d;
  --color-brand-secondary-hover: #d63a2f;
  --color-body: #052d3f;
  --color-link: #4a90e2;
}

@layer base {
  body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: var(--color-body);
  }
}

.prose {
  @apply font-serif
    max-w-175
    mx-auto
    prose-lg;
}

/** ----/START: Images with photoswipe ----- */
.prose .single-image-container {
  margin: 2rem auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prose .single-image-caption {
  margin-top: 8px;
  font-size: 0.75rem;
  font-weight: 600;
  color: #777;
  font-family: var(--font-sans);
}

/** Photoswipe caption in previewer */
.pswp__caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
}
/** ----/END: Images with photoswipe ------ */

/** Dots in ul: */
.prose li::marker {
  color: var(--color-body);
}

/** Style the button link to headings */
/* Target the anchor link image inside any prose header */
.prose h1 .heading-anchor,
.prose h2 .heading-anchor,
.prose h3 .heading-anchor,
.prose h4 .heading-anchor {
  @apply m-0 inline-block;

  opacity: 0;

  /* 2. Style the icon size and alignment */
  width: 1.125rem; /* Adjust size to match your font scale */
  height: 1.125rem;
  vertical-align: middle;
  margin-left: 0.5rem; /* Adds spacing between the text and the icon */
  user-select: none;

  @apply duration-200;
}
.heading-anchor img {
  margin: 0;
}
/* Brighten the icon when hovering anywhere over the header or the link */
.prose h1:hover .heading-anchor,
.prose h2:hover .heading-anchor,
.prose h3:hover .heading-anchor,
.prose h4:hover .heading-anchor {
  opacity: 1;
}

/** Styles for inline code */
.prose :not(pre) > code {
  @apply font-normal px-1.5 py-0.5 rounded-sm text-[78%] bg-[#f0f0f0] before:content-none after:content-none;
}

/** Make code blocks smaller */
.astro-code {
  font-size: 0.78em;
}

/** Margin to headings urls to anchor, to avoid being hidden behind the sticky header */
[id] {
  scroll-margin-top: 80px;
}
