---
import Layout from '../components/Layout.astro'
---

<Layout title="404: Not Found" simple={true}>
  <div class="flex flex-col items-center justify-center min-h-screen text-center px-4">
    <h1 class="text-6xl font-black text-[#052d3f] mb-4">404</h1>
    <p class="text-lg text-[#727272] mb-8">Page not found</p>
    <a
      href="/"
      class="inline-block px-6 py-3 bg-[#1976d2] text-white rounded no-underline hover:bg-[#156CB8] transition-colors"
    >
      Go Home
    </a>
  </div>
</Layout>
