---
import SocialHome from '../SocialHome.astro'
import { Info } from '../Info'
import { siteConfig } from '../../config'
---

<div class="bg-[#dfd5a66e]">
  <div class="min-h-[600px] max-w-[1080px] grid pt-20 mx-auto justify-center items-center">
    <div class="text-center px-[5px]">
      <h1 class="text-[32px] font-black text-center font-serif text-[#052d3f] mb-0 relative sm:text-[2.4rem]">
        {siteConfig.title}
      </h1>
      <h2 class="text-sm font-normal mx-0 mt-2.5 mb-5 font-mono text-center text-[#052d3f]">
        {siteConfig.subtitle}
      </h2>
      <SocialHome />
      <Info client:load />
    </div>
  </div>
</div>
