---
import { formatDate } from '../helpers/date'

export interface Props {
  date: Date
  avatar?: string
}

const { date, avatar } = Astro.props
---

<div class="flex mb-3.25 px-2.5 mt-4 items-center font-sans">
  {
    avatar && (
      <img alt="Author post avatar" src={avatar} class="m-0 w-10 h-10 rounded-full mr-3.25" />
    )
  }
  <div class="flex flex-1 flex-row items-center justify-between">
    <p class="m-0 text-[11px] sm:text-[13px] font-semibold text-[#767676] uppercase">
      <a href="/" class="text-[#0077b5] no-underline block sm:inline">Dante Calderon</a>
      <b class="hidden sm:inline text-[#575757] font-normal"> ∙ </b>
      <span>{formatDate(date)}</span>
    </p>
  </div>
</div>
