---
import MediaEnhancer from '@/components/MediaEnhancer.astro'

export interface Props {
  className?: string
}

const { className = '' } = Astro.props
---

<div class={`px-2.5${className ? ` ${className}` : ''}`}>
  <slot />
  <MediaEnhancer />
</div>
