---
export interface Props {
  title?: string
}

const { title } = Astro.props
---

<div class="bg-[#f8ffff] text-[#276f86] my-2.5 mx-0 py-[1em] px-[1.5em] font-sans text-[13px] rounded-[3px] shadow-[0_0_0_1px_#a9d5de_inset,0_0_0_0_transparent]">
  {title && <p class="text-[#0e566c] text-[1.1em] font-bold pb-1">{title}</p>}
  <slot />
</div>
