---
export interface Props {
  items?: string[]
}

const { items = [] } = Astro.props
---

<div>
  <ul class="ml-0">
    {items.map(item => (
      <li class="py-0.5 px-2.5 bg-[#f7f7f7] text-[#6a6a6a] rounded-[25px] no-underline m-0.5 text-[13px] font-sans font-semibold inline-block capitalize hover:bg-[#e2e2e2]">
        {item}
      </li>
    ))}
  </ul>
</div>
